@model List<ApartmentManagement.Application.Features.Dues.Models.DuesListModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Manager/Views/Shared/ManagerLayout.cshtml";
}

@if (Model.Count == 0)
{
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Geciken bir ödeme bulunamadı.</h3>
            </div>
        </div>
    </div>
}
else
{
    <table class="table table-bordered table table-striped">
        <tr>

            <th>Aidat Tipi</th>
            <th>Daire</th>
            <th>Kullanıcı</th>
            <th>Aidat Tutarı</th>
            <th>Ödeme Tarihi</th>
            <th>Ödeme Durumu</th>
          @*  <th>Sil</th>
            <th>Güncelle</th>*@
        </tr>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.DuesType</td>
                    <td>@item.Circle.CircleNo</td>
                    <td>@item.User.FullName</td>
                    <td>@item.DuesPrice</td>
                    <td>@item.PaymentDate</td>
                    <td>@item.PaidStatus</td>
                  @*  <td><a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.DuesId">Sil</a></td>
                    <td><a class="btn btn-warning" asp-action="Update" asp-route-id="@item.DuesId">Güncelle</a></td>*@
                </tr>
            }
        </tbody>
    </table>
    <br />
}



